@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="nav-list-container">

        <ul class="nav-list">
            <h4>Data</h4>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="Data/AsthmaNcdmStatewide/Index">AsthmaNcdmStatewide</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="Data/AsthmaNcdmStatewideSSISTest/Index">AsthmaNcdmStatewide SSIS Test</a>
            </li>
        </ul>
        <ul class="nav-list">
            <h4>Config</h4>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="Config/ConfigTopic/Index">Topics</a>
            </li>
        </ul>

</div>
