@page
@model epht_admin_portal.Pages.AsthmaNcdmStatewideSSISTest.SuccessModel


@{
    ViewData["Title"] = "Success";
}

<h1>Success</h1>
<p> 
    <h2 class="text-success">Excel file upload successfully</h2>
</p>
